@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-color: #DCAC4E;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: #313131;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #DCAC4E;
        border-radius: 5px;
    }
  }
}